.basketCard__top-line {
  height: 1px;
  background-color: #f4f4f4;
  margin: 0 auto;
  max-width: 820px;
}
.basketCard__wrapper {
  max-width: 820px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
  .basketCard__container-title {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .basketCard__image {
    width: 80px;
    height: 80px;
  }
  .basketCard__title-block {
    max-width: 280px;
    .basketCard__title {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
      color: #000000;
      width: 180px;
    }
    .basketCard__title-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #8d8d8d;
    }
  }
  .basketCard__button-counter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 93px;
    .basketCard__button-plus {
      background: #ffffff;
      border: 2px solid #fe5f1e;
      padding: 10px 14px;
      border-radius: 50%;
      color: #eb5a1e;
      font-weight: 1000;
      cursor: pointer;
    }
    .basketCard__button-minus {
      background: #ffffff;
      border: 2px solid #fe5f1e;
      padding: 10px 15px;
      border-radius: 50%;
      color: #eb5a1e;
      font-weight: 1000;
      cursor: pointer;
    }
    .basketCard__counter {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }
  .basketCard__price {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-right: 93px;
  }
  .basketCard__button-delete-pizza {
    background: #ffffff;
    border: 2px solid #d7d7d7;
    color: #d7d7d7;
    padding: 9px 15px;
    border-radius: 50%;
    cursor: pointer;
  }
}
@media only screen and (max-width: 814px) {
  .basketCard__wrapper{
    .basketCard__price {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #000000;
      margin-right: 47px;
    }
  }

}

@media only screen and (max-width: 767px) {
  .basketCard__wrapper {
    max-width: 600px;
    flex-direction: column;
    gap: 20px;
    .basketCard__container-title  {
      flex-direction: column;
      gap: 10px;
      .basketCard__image {
        width: 200px;
        height: 200px;
      }
    }
    .basketCard__button-counter-block {
      flex-direction: row;
      margin: 0 auto;
      gap: 20px;
    }
    .basketCard__price {
      margin: 0 auto;
      font-size: 35px;
      margin-top: 20px;
    }
    .basketCard__button-delete-pizza {
      padding: 9px 100px;
      border-radius: 10px;
    }
    .basketCard__title-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .basketCard__title{
        text-align: center;
      }
    }
  }
}
