.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 35px 0;
  align-items: center;
  justify-content: center;
  .card__contauner {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 11px;
      cursor: pointer;
      width: 260px;
      height: 260px;
      transition: 1s;
    }
    img:hover {
      transform: scale(1.2);
    }
    .card__name {
      z-index: 1;
    }
  }
  .card__pizza-setting-wrapper {
    max-width: 280px;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 6px;
    margin-top: 22px;
    .card__sort-block {
      display: flex;
      flex-direction: row;
      gap: 6px;
      .card__sort-thin,
      .card__sort-traditional {
        width: 131px;
        padding: 14px 0;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2c2c2c;
        max-width: 131px;
        cursor: pointer;
      }
    }
    .card__width-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 8px;
      .card__width-min {
        max-width: 86px;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2c2c2c;
      }
      .card__width-min:hover {
        color: #eb5a1e;
      }
      .card__width-min-active {
        max-width: 86px;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2c2c2c;
        background-color: #eb5a1e;
      }
    }
  }
  .card__bottom-block {
    display: flex;
    flex-direction: row;
    max-width: 280px;
    gap: 40px;
    margin-top: 17px;
    align-items: center;
    .card__bottom-price {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
    }
    .card__bottom-button-block {
      max-width: 155px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      background: #ffffff;
      border: 1px solid #eb5a1e;
      border-radius: 30px;
      padding: 11px 21px;
      cursor: pointer;

      div {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #eb5a1e;
      }
      .card__bottom-button-sum {
        border-radius: 50%;
        background-color: #eb5a1e;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
        padding: 3px 7px;
        display: none;
      }
    }
    .card__bottom-button-block:active {
      background-color: #eb5a1e;
      div {
        color: #fff;
      }
    }
  }
}

.card__sort-thin-active {
  background-color: white;
  border-radius: 10px;
}
